@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
	font-size: 1em;
}

@font-face {
	font-family: 'OpenSans-Light';
	src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
	font-size: 1em;
}

header {
	width: 100%;
	height: 80px;
	background-color: #227093;
	z-index: 2;
    position: relative;
}

header .container {
	position: relative;
	width: 80%;
}

header #logotipo {
	position: absolute;
	top: 20px;
	z-index: 3;
}

#menu {
	margin: 12px 0;
}

#menu li {
	display: inline-block;
	font-family: "OpenSans";
}

#menu li a {
	color: #FFF;
	font-size: 16px;
	padding: 10px 25px;
	font-weight: bold;
}

footer {
	margin-top: 110px;
}

footer .row {
	width: 100%;
	margin-left: 0;
}

footer .row h4 {
	margin-bottom: 0;
	color: white;
	text-align: center;	
}

footer .row p {
	margin-bottom: 3px;
	color: white;
	
}

footer .row-cinza-claro {
	height: 150px;
	background-color: #485460;
}

footer .col-xs-6 {
	padding: 0;
	padding-right: 5px;
}

footer  .container{
	width: 80%;
}

.text-arial-cinza{
	font-family: arial;
	font-size: 12px;
	color: #666;
}

.text-azul {
	color: #227093;
}

#destaque-produtos-container {
	position: relative;
}

#destaque-produtos .col-image {
	text-align: center;
}

#destaque-produtos .col-descricao h2{
	font-family: arial;
	font-size: 20px;
	color: #666;
	margin-bottom: 10px;
}

#destaque-produtos .col-descricao .box-valor {
	width: 100%;
	position: relative;
}

#destaque-produtos .col-descricao .box-valor .text-reais {
	font-size: 18px;
	font-weight: bold;
}

#destaque-produtos .col-descricao .box-valor .text-valor {
	font-size: 50px;
	position: absolute;
	top: 60px;
	left: 28px;
}

#destaque-produtos .col-descricao .box-valor .text-valor-centavos {
	font-size: 30px;
	position: absolute;
    top: 67px;
    left: 58px;
}

#destaque-produtos .col-descricao .btn-comprar {
	font-size: 26px;
	padding: 10px 0;
}

#destaque-produtos .col-descricao .btn-comprar .fa {
	font-size: 34px;
}

#destaque-produtos .col-descricao .text-parcelas {
	margin-top: 20px;
}
